#empresaria-section {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #f5deb3;
  color: $navy-blue;
  padding: 20px;
  text-align: center;

  h1 {
 
    font-weight: bold;
    margin-bottom: 30px;
  }


  

  .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    .card {
      background-color: $navy-blue;
      color: white;
      padding: 20px;
      border-radius: 40px;
      width: 100%;
      max-width: 300px;
      text-align: left;

      h2 {
        font-size: 20px;
        text-align: center;
      }

      ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
          margin-bottom: 10px;
          line-height: 1.5;
          display: flex;
          align-items: center;
          gap: 10px;
        }
      }
    }

    .comum {
      background-color: $navy-blue;
    }

    .oportunidades {
      background-color: $navy-blue;
    }
  }

  
}

// icon

.icon-custom {
  font-size: 1.5rem;
  color: $beige;
}


// Tablet Screen
@media (min-width: 768px) {
  #empresaria-section {
  h1 {
    font-size: 2.2em;
  }}
  #empresaria-section {
    display: flex;

    .cards {
      margin: 2rem 0;
      flex-direction: row;
      align-items: flex-start;
      gap: 10rem;

      .card {
        height: 500px;
        max-width: 390px;
        h2 {
          font-size: 25px;
          
        }

        ul>li{
          font-size: 1.15em;
          gap: 20px;
         padding: 5px;
      }
    }
  }

}}