.button-edited {
  width: fit-content;
  display: flex;
  padding: 1em 1.3em;
  gap: 0.4rem;
  border: none;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 30px;
  cursor: pointer;
  background: linear-gradient(
      15deg,
      #252440, 
      #2d2c55,
      #2f2c79,
      #2f2c79,
      #000020,
    )
    no-repeat;
  background-size: 300%;
  background-position: left center;
  transition: background 0.3s ease;
  color: $off-white;
  margin: 1.5rem 0;

  a {
    text-decoration: none;
    color: $off-white;
  }
}

.button-edited:hover {
  background-size: 320%;
  background-position: right center;

}

.button-edited:hover svg {
  fill: $off-white;
}

.button-edited svg {
  width: 23px;
  fill: #f09f33;
  transition: 0.3s ease;
}

@media (min-width: 768px) {
  .button-edited{
    margin-top: 85px;
  }
}