#forBusinesses {
  @include flex-center;
  flex-direction: column;
  padding: 20px;
  text-align: center;

  h1 {
    text-transform: uppercase;
  }
 
}

@media (min-width: 768px) {
  #forBusinesses {
    h1 {
      font-size: 2rem;
    }

    .learning-points {
      display: grid;
      justify-content: center;
      width: 49%;
      height: 400px;
      grid-template-columns: repeat(2, 1fr); // 2 colunas para telas médias
      gap: 60px;
    }
  }
}