// Colors
$navy-blue: #152247;
$off-white: #FFFFFF;
$beige: #F6DBA6;
$golden-brown: #94793C;

// Font
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');



// Mixins
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Styles
body {
  font-family: "Montserrat", "Inira Serif", sans-serif;
  overflow-x: hidden;

  background-color: $navy-blue;
  color: $off-white;
  
  margin: 0;
  padding: 0;

  h1 {
    text-transform: uppercase;
    font-family:"Inria Serif",  "Montserrat" , sans-serif;
  }
}