#learn{
    padding: 20px;
    background-color: $navy-blue;
    color: #fff;
    text-align: center;


    .about {
        color: $beige;
        margin-bottom: 40px;
    }
}
.container {
    background-color: #0a2e56;
    width: 90%;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}



.highlight {

    padding: 10px;
    border-radius: 50px;
    margin-bottom: 20px;
    border: 4px solid #bfa76f;
}

.learning-points {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.point {
    background-color: #252F4B;
    padding: 23px;
    border-radius: 5px;
    align-items: center;
    gap: 10px;
    font-size: 1.3rem;
}

.icon-mod{
    font-size: 2rem;
    color: $golden-brown;
    padding-bottom: 15px;
  
    
}

.point p {
    margin: 0;
    font-size: 0.9em;
    color: #dcdcdc;
}

@media (min-width: 768px) {
    .learning-points {
        flex-direction: row;
        gap: 25px;
        margin-top: 80px;
        margin-bottom: 80px;
    }
    
.point {
    background-color: #252F4B;
    padding: 50px;
    border-radius: 5px;
    align-items: center;
    gap: 900px;
    font-size: 1.5rem;
}
    .container_learn>h1{
        font-size: 2.5em;
    }
    .highlight_container{
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    .highlight {
width: 50%;
text-align: center;
        padding: 5px;
        border-radius: 50px;
        margin-bottom: 20px;
        margin-top: 50px;
        border: 4px solid #bfa76f;
    }
    .highlight > p {
        font-size: 1.1rem;
    }
    .about {
        font-size: 1.25rem;
        margin-bottom: 60px;

    }
    }
    
