#learn{
    @include flex-center; // Mixin criado do global styles
    padding: 20px;
    font-family: "Montserrat";
    background-color: $navy-blue;
    color: #fff;
    min-height: 100vh;
    text-align: center;


    .about {
        color: $beige;
        margin-bottom: 40px;
    }
}
.container {
    background-color: #0a2e56;
    width: 90%;
    max-width: 400px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}



.highlight {

    padding: 10px;
    border-radius: 50px;
    margin-bottom: 20px;
    border: 4px solid #bfa76f;
}

.learning-points {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.point {
    background-color: #252F4B;
    padding: 23px;
    border-radius: 5px;
    align-items: center;
    gap: 10px;
    font-size: 1.3rem;
}

.icon-mod{
    font-size: 2rem;
    color: $golden-brown;
    padding-bottom: 15px;
  
    
}

.point p {
    margin: 0;
    font-size: 0.9em;
    color: #dcdcdc;
}
