@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@font-face {
  font-family: valdoThin;
  src: url("../font/Valdo Thinitalic 1.otf");
}
body {
  font-family: valdoThin, "Montserrat", sans-serif;
  background-color: #152247;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
}

#home {
  background-color: #152247;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#homeBgImg {
  background-image: url("../images/profiles/all-grils.jpeg");
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  opacity: 0.4;
  width: 100vw;
  height: 50vh;
  z-index: 0;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.scroll-down {
  position: absolute;
  left: 50%;
  bottom: 15px;
  border: 2px solid #fff;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin-left: -15px;
  display: block;
  z-index: 10;
  text-align: center;
}

.scroll-down span {
  position: relative;
  color: #fff;
  -webkit-animation-name: drop;
          animation-name: drop;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

@-webkit-keyframes drop {
  0% {
    top: 0px;
    opacity: 0;
  }
  30% {
    top: 10px;
    opacity: 1;
  }
  100% {
    top: 25px;
    opacity: 0;
  }
}

@keyframes drop {
  0% {
    top: 0px;
    opacity: 0;
  }
  30% {
    top: 10px;
    opacity: 1;
  }
  100% {
    top: 25px;
    opacity: 0;
  }
}
.intro {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  text-align: center;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
}
.intro .start {
  font-size: 16px;
  font-style: normal;
  text-transform: none;
  margin: 15px 0;
}
.intro .main-logo {
  width: 80vw;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.intro .content {
  font-family: "Montserrat";
  padding: 0 10px;
  margin-bottom: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  height: 90vh;
}
.intro .content h2 {
  font-size: 30px;
}
.intro .content p {
  font-size: 24px;
}